<html>
   <body>
      <p>Use the following IDs and Password:</p>
      <ol>
         <li>guest (password: guest)</li>
         <li>developer (password: developer)</li>
      </ol>
      <hr>
      <H1>Hello, <%= name %></H1>
      <H2>This is a secret page!</H2>
      <br>
      <a href='/logout'>Logout</a>
   </body>
</html>